<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Travel Planner</title>
  </head>

  <body>
    Hello world
    <ul class="menu">
      <li><a href="/about">About</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/tags">Tags</a></li>
    </ul>

    <form onSubmit="App.handleSubmit(event)">
      <input
        name="place"
        type="text"
        placeholder="Where to..."
        value="New York"
        required
      />
      <input
        name="from"
        type="date"
        placeholder="from"
        value="2022-08-10"
        required
      />
      <input
        name="to"
        type="date"
        placeholder="to"
        value="2022-08-09"
        required
      />
      <button type="submit">Add</button>
    </form>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
