<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>
  </head>

  <body>
    <header>
      <h1>BaoLQ4's Trip Planner</h1>
    </header>
    <main>
      <section class="trip-form">
        <h2>=^.^=</h2>

        <form id="create-trip" onSubmit="App.handleSubmit(event)">
          <label for="place">Place</label>
          <input name="place" type="text" placeholder="New York" required />
          <label for="place">From date</label>
          <input name="from" type="date" placeholder="from" required />
          <label for="place">To date</label>
          <input name="to" type="date" placeholder="to" required />
        </form>
        <button type="submit" form="create-trip" id="submitButton">Add</button>
      </section>
      <section class="trip-list"></section>
    </main>
    <footer>© 2022, All Rights Reserved.</footer>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
